<%= form_for @number_calculator, :url => {:action => "convert",
      :id => @number_calculator} do |f| %>
  <% @number_calculator.errors.full_messages.each do |msg| %>
    <%= content_tag :li, msg, :id => "error_#{msg}", :class => "error-text" if msg.is_a?(String) %>
  <% end %>
  <div class="container">
    <p>
      <%= f.label :base, "Base " %><span class="whatever">Whatever</span>:
      <div title="Enter the base of the numbering system that you are interested in"><%= f.text_field :base, :size => 35 %></div>
    </p>
    <p>
      <%= f.label :number, "Base " %><span class="whatever">Whatever</span> Representation:
      <div title="Enter the number as represented in whatever base you are interested in">
      <%= f.text_field :number, :size => 35 %></div>
    </p>
    <p>
      <%= f.label :base_ten_number, "Base 10 Representation" %>
      <div title="Enter the number as represented in whatever base you are interested in">
      <%= f.text_field :base_ten_number, :size => 35 %></div>
    </p>
  <%= f.submit "Convert", class: "convert-button" %>&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.submit "Refresh", class: "refresh-button" %>
<% end %>
