<!DOCTYPE html>
<html>
<head>
  <title>BaseWhateverNumberTranslator</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="background">
<h3>Base <span class="whatever">Whatever</span> Number Converter</h3>
<p> Enter the Base and either number and it will be converted to either base 10 or <span class="whatever">whatever</span> base you have chosen accordingly </p>

<div style="
  padding-bottom:0.5em;
  width:400;
  float:right;
  padding-right: 30%">
  <p style="
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  color: indigo"><%= image_tag "numbers_duh.jpg"%>
  <p>
  <%= link_to "Learn More", "http://betterexplained.com/articles/numbers-and-bases/", target: "_blank" %>
</div>


<% flash.each do |key, value| %>
  <div class='flash' id='<%= key %>'>
    <%= value %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
