<!DOCTYPE html>
<html>
<head>
  <title>BaseWhateverNumberTranslator</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="
  background-color: darkseagreen;
  background-image: url(<%= asset_path("background.jpg") %>);
  background-size: cover;">
<h3>Base <span class="whatever">Whatever</span> Number Converter</h3>
<p> Enter the Base and either number and it will be converted to either base 10 or <span class="whatever">whatever</span> base you have chosen accordingly </p>

<div class="image">
  <p><%= image_tag "numbers_duh.jpg"%>
  <p>
  <%= link_to "Learn More", "http://betterexplained.com/articles/numbers-and-bases/", target: "_blank" %>
</div>


<% flash.each do |key, value| %>
  <div class='flash' id='<%= key %>'>
    <%= value %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
